@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
*,
*::before,
*::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root{
    --color-pink:hsl(322, 100%, 66%);
    --color-light-pink:hsl(322, 88%, 81%);
    --color-pale-cyan: hsl(193, 100%, 96%);
    --color-dark-cyan: hsl(192, 100%, 9%);
    --color-grayish-blue: hsl(208, 11%, 55%);
    --color-light-grayish-blue: hsla(0, 0%, 100%, 0.708);
    --duration:1.5s;
}
body{
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}
.navigation,.banner{
    max-width:1400px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--color-pale-cyan);
    background-image:url('images/bg-hero-desktop.svg');
   
}
.navigation{
    position: relative;
    padding: 2rem 3rem;
}
img{
    width:100%;
    display: block;

}
.btn{
    padding:1em 3em;
    border-radius: 30px;
    font-weight: 700;
    
    background-color:var(--color-pink);
    color:white;
    border:none;
   
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size:1rem;
    animation:from-bottom calc(var(--duration) * 0.6)  both;
    animation-delay:calc(var(--duration) * 0.7);
    -webkit-animation:from-bottom calc(var(--duration) * 0.6)  both;
    -webkit-animation-delay:calc(var(--duration) * 0.7);
    transition: all 1s;
}


.navigation img,
footer img{
    cursor:pointer;
    max-width: 190px;
}

.navigation .btn{
    color:var(--color-dark-cyan);
    background-color: white;
}
.banner{  
    padding:2rem;
    justify-content: space-evenly;
}
.banner .description-section{
    max-width:480px;
    padding:1.4rem;
}
h1,
h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.banner h1{
    font-size: 2rem;
    animation:from-left var(--duration)  both;
    -webkit-animation:from-left var(--duration)  both;
}
.banner p{
    margin:1.3rem 0;
    line-height:1.6; 
    animation:from-top var(--duration)  both;
    animation-delay:calc(var(--duration) * 0.3);
    -webkit-animation:from-top var(--duration)  both;
    -webkit-animation-delay:calc(var(--duration) * 0.3);
}
.banner img{
    max-width:650px;
}
.features{
   
    margin:3rem 0;
   padding:2rem;
   position:relative;
   display: flex;
   flex-direction: column;
   align-items:center;
}
.feature{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem 4rem;
    max-width:1200px;
    margin:3rem auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 12px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.feature img{
    max-width:400px;
}

.feature__description {
    max-width:500px;
    padding:1rem;
    line-height: 1.5;
    width:100%;
}
.feature__description h2{
    margin-bottom: 1rem;
}
.feature.feature__description .image-container {
    order:1;
}
.feature-2 .feature__description{
    order:2;
}
.build-community{
    max-width: 650px;
   margin:9rem auto auto;
   width: 100%;
   padding: 2rem 4rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 15px;
   background-color: white;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 12px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
   position: absolute;
   top: 90.5%;
   z-index: 2;
   animation:grow-image calc(var(--duration) * 0.8) both;
   -webkit-animation:grow-image calc(var(--duration) * 0.8) both;
}

.build-community h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin:2rem 0;
    font-size:1.5rem;
    white-space: nowrap;
    animation:from-top var(--duration)  both;
    animation-delay:calc(var(--duration) * 0.8);
    -webkit-animation:from-top var(--duration)  both;
    -webkit-animation-delay:calc(var(--duration) * 0.8);
}
.build-community .btn{
    animation-delay: var(--duration) ;
    -o-animation-delay: var(--duration);
}
footer{

    padding:8rem 3rem 1rem;
    background-color: var(--color-dark-cyan);
    max-width: 1400px;
    margin:8rem auto 0;
    color: var(--color-pale-cyan);
    display: flex;
    flex-direction: column;
}
footer img{
    padding:0.5rem;
    filter: invert(100%) sepia(18%) saturate(2%) hue-rotate(176deg) brightness(116%) contrast(100%);
}
footer ul{
    list-style-type: none;
}

footer ul li a,
.copyright a{
    text-decoration: none;
    color:var(--color-pale-cyan);
}
.footer__details{
    margin:1rem 0 ; 
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap:10px;
}
.contact__details{
    max-width: 300px;
    padding:0.5rem;
}
.contact__details li{
   display:flex;
   gap:1rem;
    margin: 1.5rem 0;
justify-items: center;
font-style: normal;
}
.contact__details li:first-child .fa-solid{
    margin-top: 0.3rem;
}
.nav__links {
    padding:2rem 1rem;
    columns:2;
    gap:1rem;
    text-align:  center;
}
.nav__links li{
    margin-bottom: 1.5rem;
}
.social__links{
    display:flex;
    justify-content:center;
    padding:1rem;
    margin: 1.5rem 0;
}
.social__links li a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: 0.3s ease-in-out;
}
.social__links li a::before{
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
    z-index:-1;
}

.social-icon a .fa-brands {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}

.social__links li:not(:last-child,:first-child){
    margin:0 1rem;
}
.copyright{
    align-self: flex-end;
    padding:1rem;
}
footer a{
    transition: color 0.3s ease-in;
}



.banner img{
    --duration:1.2s;
    animation:grow-image var(--duration) both;
    -webkit-animation: grow-image var(--duration) both;
}
.feature img{
    animation:grow-image calc(var(--duration) * 1.8) both;
    -webkit-animation: grow-image calc(var(--duration) * 1.8) both;
}
@keyframes grow-image{
    0%{
        opacity:0;
        transform: scale(0);
    }
    100%{
        opacity:1;
        transform: scale(100%);
    }
}

@keyframes from-left {
    0%{
        opacity:0;
        transform: translateX(-50%);
    }
    100%{
        
            opacity:1;
            transform: translateX(0%);
      
    }
}
@keyframes from-top {
    0%{
        opacity:0;
        transform: translateY(-50%);
    }

    100%{
        
            opacity:1;
            transform: translateY(0%);
      
    }
}
@keyframes from-bottom {
    0%{
        opacity:0;
        transform: translateY(50%);
    }
    100%{
        
            opacity:1;
            transform: translateY(0%);
      
    }
}
@media (hover:hover){
    .btn:hover{
        background-color: var(--color-light-pink);
          color:var(--color-dark-cyan);
       }
       .navigation .btn:hover{
           background-color: var(--color-light-grayish-blue);
       
          }
       .btn:active{
           transform: scale(1);
           box-shadow: 0 3px 15px -2px;
       }
       .social__links li a:hover::before {
        transform: scale(1);
    }
    .social-icon a:hover .fa-brands {
        filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
    }
    footer a:hover{
        color:var(--color-pink);
    }
    .social__links li a:hover {
        transform: translateY(-5px);
    }
}
@media (max-width:56.25em){
    .navigation{
        padding:2rem; 
    }
    .banner{
        justify-content: space-between;
    }
    .feature{
        padding: 1rem;
    }
    .banner .description-section{
        max-width: 390px;
    }
}
@media (max-width:49.5em){
    .banner{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding: 1.2rem;
    }
    .banner .description-section{
       max-width: 700px;
       margin-bottom: 2rem;
    }
    .navigation{
        padding: 2rem 1rem 1.2rem;
    }
    .build-community{
        max-width: 450px;
        padding:1.5rem 2rem; 
        
    }
}
@media (max-width:37.5em){
    .features{
        padding:1.5rem;
    }
    .feature{
        flex-wrap: wrap;
        padding: 0rem;
        justify-content: center;
    }
    .feature .feature__description{
        order:2;
        text-align: center;
    }
    .feature img{
        order: 1;
 
    }
    footer{
        padding-left:2rem;
        padding-right:2rem;
    
    }
  .footer__details{
    gap:5px;
  }
    .nav__links{

        padding: 1rem;
    }
    .contact__details{
        padding: 0.5rem;
      
    }
   
    .copyright{
        align-self: center;
    }
    .build-community{
        top: 94.6%;
    }
   
}
@media (max-width:30em) {
    .build-community{
        max-width: 330px;
        padding:1.24rem; 
    }
    .build-community h3{
        font-size: 1.26rem;
        white-space: normal;
        margin: 1rem 0;
    }
    .nav__links{
        columns: 1;
    }
    .banner .description-section{
        padding: 0.8rem;
    }
    .navigation img{
        max-width:140px;
    }
    .navigation .btn{
        padding:0.6rem 2rem;
    }
}